<h2> Players List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Pseudo </th>
            <th> Score </th>
            <th> Rank </th>
        </tr>
    </thead>
    <tbody>
        @for (player of players; track player){
        <tr> 
            <td> {{ player.pseudo }} </td>
            <td> {{ player.score }} </td>
            <td> {{ player.rank }} </td>
            <td>
                <button class="btn btn-info" (click) = "playerDetails(player.pseudo)" style="margin-left: 10px;"> Details </button>
            </td>
        </tr>
    }
    </tbody>
</table>
